* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, hsl(132, 10%, 95%), hsl(272, 10%, 90%));
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(155deg, hsl(32, 50%, 50%), hsl(32, 50%, 30%));
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav a {
  text-decoration: none;
  font-size: larger;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
nav a:hover,
nav a:active {
  color: hsl(65, 100%, 80%);
}
.error-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: xx-large;
}
.error-block .code {
  padding-right: 1rem;
  border-right: 2px solid #ccc;
  font-weight: bold;
}
.btn {
  display: flex;
  align-items: center;
  background-image: linear-gradient(175deg, #ddd, #aaa);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: medium;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  box-shadow: grey 2px 2px 3px;
}
.btn:hover,
.btn:active {
  background-image: linear-gradient(175deg, #eee, #bbb);
  box-shadow: grey 2px 2px 8px;
}
.btn svg {
  margin-right: 0.3rem;
}
.btn-success {
  background-image: linear-gradient(175deg, hsl(125, 40%, 70%), hsl(125, 40%, 60%));
}
.btn-success:hover,
.btn-success:active {
  background-image: linear-gradient(175deg, hsl(125, 40%, 75%), hsl(125, 40%, 65%));
}
.loader-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #fff;
}
.loader-container svg {
  width: 8rem;
  height: 8rem;
  fill: #0a4;
  animation: spin infinite 0.75s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.posts-list {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post-container .post-head {
  padding: 0.5rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: tomato;
}
.post-container .post-head h2 {
  margin: 0;
}
.post-container .post-head .user-info {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0 0.1rem;
}
.post-container .post-head .user-info .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  font-size: smaller;
  font-weight: bold;
  background-color: lightgrey;
  color: grey;
  box-shadow: #0006 2px 2px 5px;
}
.post-container .post-head .user-info .user-name {
  font-weight: bold;
}
.post-container .post-body {
  padding: 0.5rem 1rem;
  border: 1px solid silver;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.post-container .post-body p {
  margin-left: 1rem;
}
.post-container .replies-list {
  padding: 1rem 0 1rem 1rem;
}
