@body-bg: linear-gradient(to right, hsl(132, 30%, 90%), hsl(272, 30%, 90%));
@header-bg: linear-gradient(155deg, hsl(32, 50%, 50%), hsl(32, 50%, 30%));
@post-bg: linear-gradient(to right, hsl(132, 30%, 95%), hsl(272, 30%, 95%));
@link-active: hsl(65, 100%, 80%);
@inner-width: 900px;
@header-height: 5rem;

* {
    box-sizing: border-box;
}

body {
    background-image: @body-bg;
}

.text-shadow(@range: 2px, @blur: 3px, @color: black) {
    text-shadow: @color @range @range @blur;
    // transition: text-shadow 0.2s ease-in-out 0.1s;
}

.box-shadow(@range: 2px, @blur: 3px, @color: black) {
    box-shadow: @color @range @range @blur;
    // transition: box-shadow 0.2s ease-in-out 0.1s;
}

.post-img {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    height: 225px;
    object-fit: cover;
}

.container {
    min-height: calc(100vh - @header-height);
    display: flex;
    flex-direction: column;
    margin-top: @header-height;
}

.inner-container {
    width: 100%;
    max-width: @inner-width;
    margin: 0 auto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: @header-height;
    z-index: 2;
    background-image: @header-bg;
    .box-shadow(2px, 5px, #0006);
    .inner-container {
        display: flex;
        justify-content: space-between;
        img {
            width: 250px;
            align-self: center;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
        // display: block;
        text-decoration: none;
        font-size: larger;
        font-weight: 500;
        color: #fff;
        transition: color 0.3s ease-in-out;
        &:hover, &:active {
            color: @link-active;
        }
    }
}

.error-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: xx-large;

    .code {
        padding-right: 1rem;
        border-right: 2px solid #ccc;
        font-weight: bold;
    }
}


.btn {
    display: flex;
    align-items: center;
    background-image: linear-gradient(175deg, #ddd, #aaa);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: medium;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    .box-shadow(2px, 3px, grey);
    &:hover, &:active {
        background-image: linear-gradient(175deg, #eee, #bbb);
        .box-shadow(2px, 8px, grey);
    }
    svg {
        margin-right: 0.3rem;
    }
}

.btn-success {
    background-image: linear-gradient(175deg, hsl(125, 40%, 70%), hsl(125, 40%, 60%));
    &:hover, &:active {
        background-image: linear-gradient(175deg, hsl(125, 40%, 75%), hsl(125, 40%, 65%));
    }
}


.loader-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #fff;

    svg {
        width: 8rem;
        height: 8rem;
        fill: #0a4;
        animation: spin infinite 0.75s linear;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

form {
    padding: 1rem 2rem;
    // background: violet;
    label {
        display: block;
        margin: 0.5rem 0;
        font-size: large;
        font-weight: 500;
    }
    input, textarea {
        width: 100%;
        padding: 0.5rem;
        font-family: inherit;
        font-size: medium;
        + label {
            margin-top: 2rem;
        }
        resize: none;
    }
    input {
        height: 32px;
    }
    textarea {
        height: 64px;
    }
    img {
        .post-img();
    }
    button {
        min-width: 80px;
        padding: 0.5rem 1rem;
        font-family: inherit;
        font-size: medium;
        font-weight: 500;
        cursor: pointer;
        // border: 1px solid grey;
        border: none;
        border-radius: 5px;
        transition: background-color 0.2s;
        .box-shadow(1px, 3px, #000a);
        &.success {
            color: #fff;
            background-color: hsl(125, 50%, 50%);
            &:hover {
                background-color: hsl(125, 50%, 60%);
            }
        }
        &.danger {
            color: #fff;
            background-color: hsl(0, 50%, 50%);
            &:hover {
                background-color: hsl(0, 50%, 60%);
            }
        }
    }
    .form-error {
        margin-bottom: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: hsl(0, 50%, 50%);
        color: #fff;
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}

.home-container {
    display: flex;
    flex-direction: row;
    form {
        flex: 1;
    }
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        margin: auto;
        border-radius: 50%;
        font-size: large;
        font-weight: 500;
        color: #fff;
        background: hsl(125, 20%, 60%);
    }
}

.posts-list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    .post-reply-link {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0 3rem;
        a {
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-size: large;
            font-weight: 500;
            &:extend(.btn, .btn-success);
        }
    }
}


.post-container {
    position: relative;
    border-radius: 5px;

    .post-head {
        
        padding: 0.5rem 1rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        background: @header-bg;
        color: #fff;
        .box-shadow(2px, 5px, #0006);

        h2 {
            margin: 0;
            .text-shadow(2px, 2px, #0006);
        }

        .post-info {
            display: flex;
            align-items: baseline;
        }
        .user-info {
            // background-color: green;
    
            display: inline-flex;
            align-items: baseline;
            gap: 0.35rem;
            .user-avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                font-size: smaller;
                font-weight: bold;
                text-transform: uppercase;
                background-color: lightgrey;
                color: grey;
                .box-shadow(2px, 5px, #0006);
            }
            .user-name {
                font-weight: bold;
            }
        }
    }


    .post-body {
        padding: 0.5rem 1rem;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: @post-bg;
        .box-shadow(2px, 5px, #0006);

        p {
            white-space: pre-line;
            margin-left: 1rem;
        }
        img {
            margin: 0 auto;
            .post-img();
        }
    }

    .post-actions {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        gap: 5px;
        button {
            // background-color: #fff;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            .box-shadow(2px, 5px, #0006);
        }
    }


    
    .replies-list {
        // background-color: pink;

        padding: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .post-container {
            .box-shadow(2px, 5px, #0006);
            .post-head {
                background: @post-bg;
                color: unset;
                box-shadow: unset;
            }
            .post-body {
                box-shadow: unset;
            }
        }

    }
}